@model IEnumerable<Models.DataModels.Contract>

@{
    ViewData["Title"] = "Contracts";
}

<div class="row">
    <div class="col">
        <h1>AllUsers</h1>
    </div>
    <div class="col text-right">
        <a class="btn btn-info" asp-action="addNewUser" title="Add new user"><i class="fas fa-plus"></i></a>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContractId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Client.UserId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.ContractId">
                    <td>
                        @Html.DisplayFor(modelItem => item.ContractId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.UserId);
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "UserEdit", new { id = item.ContractId }) |
                        @Html.ActionLink("Details", "GetUserDetails", new { id = item.ContractId }) |
                        @Html.ActionLink("Delete", "DeleteUser", new { id = item.ContractId })
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h1>OnGoingContracts</h1>

@section scripts{
    <script>
        let onStart = () => {
            let mess = @ViewBag.message;
            if (mess != '') {
                alertify.success(@ViewBag.message)
            }

        };
        $(document).ready(onStart);
    </script>
}