@model IEnumerable<Models.DataModels.Contract>

@{
    ViewData["Title"] = "PendingContracts";
}

<h1>PendingContracts</h1>


@if (Model.Count() > 0)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContractId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContractType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InverventionCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsOnGoing)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InverventionCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOnGoing)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPendingContract", new { contractId = item.ContractId }) |
                    @Html.ActionLink("Details", "Details", new { contractId = item.ContractId }) |
                    @Html.ActionLink("Ajouter intervention", "AddInterventionToContract", "Intervention", new { contractId = item.ContractId })
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <span class="text-center">Il n'y actuellement aucune demande de client non traitée</span>
}
