@model Models.ViewModels.AdminInterventionViewModel
@using Repository

@{
    ViewData["Title"] = "addNewIntervention";
}

<h1 class="text-green">Nouvelle Intervention</h1>
<label hidden id="clientPrivateAddressAddressId"></label>
<label hidden id="clientPrivateAddressHouseNumber"></label>
<label hidden id="clientPrivateAddressStreetName"></label>
<label hidden id="clientPrivateAddressPostalCode"></label>
<label hidden id="clientPrivateAddressCity"></label>
@*<hr />*@
<h3 class="text-green mb-2">Informations client</h3>
<div class="customDisplay">
    <div class="col">
        <dl class="row">

            <dt class="col">
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
            <dt class="col">
                @Html.DisplayNameFor(model => model.CustomerId);
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.CustomerId)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col">
                @Html.DisplayNameFor(model => model.InterventionAddress)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.InterventionAddress)
            </dd>
            <dt class="col">
                @Html.DisplayNameFor(model => model.ContractId)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.ContractId)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col">
                @Html.DisplayNameFor(model => model.FacturationAddress)
            </dt>
            <dd class="col">
                @Html.DisplayFor(model => model.FacturationAddress)
            </dd>
            <dt class="col">
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </dt>
            <dd class="col">
                @{
                    string s = Model.CustomerEmail;
                    <a href=@String.Format("mailto:{0}", s)>@s</a>
                }
            </dd>
        </dl>
    </div>

</div>
<h3 class="text-green mb-2 mt-5">Description du problème par le client</h3>
<div class="customDisplay">
    <h5>@Html.DisplayFor(model => model.ContractDescription)</h5>
</div>
<h3 class="text-green mb-2 mt-5">Choix du technicien</h3>
<form asp-action="addNewIntervention">
    <div class="customDisplay">
        <input hidden asp-for="ContractId"/>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="TechnicianName" class="control-label"></label>
                    <select id="techSelection" class="form-control" onchange="updateTechId()" asp-for="TechnicianId" asp-items="Services.GetTechnicians().Select(x=> new SelectListItem { Text = x.Lastname +' ' + x.Firstname, Value = x.UserId.ToString() })"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group mt-3">
        <input type="submit" class="btn btn-success" value="Enregistrer" />
    </div>
</form>

<hr />


<div>
    <a asp-action="Index">Back to List</a>
</div>
@section  scripts{ 

}


