@model IEnumerable<Models.ViewModels.AdminInterventionViewModel>

@{
    ViewData["Title"] = "AdminInterventions";
}

<div class="row">
    <div class="col">
        <h1 class="text-green" style="height:30px">Interventions chez le client</h1>
    </div>
    <div class="col text-right">
        <a class="text-green" asp-action="addNewIntervention" title="Ajouter une nouvelle intervention"><i class="fas fa-plus-circle"></i></i></a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InterventionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicianId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicianName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
               
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.InterventionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.InterventionId }) 
                <a asp-action="Details" asp-route-id="@item.InterventionId"></a>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { interventionId = item.InterventionId }) 
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.InterventionId })
            </td>
        </tr>
}
    </tbody>
</table>
