@model IEnumerable<Models.ViewModels.AdminInterventionViewModel>

@{
    ViewData["Title"] = "AdminInterventions";
}

    <div class="row">
        <div class="col">
            <h1 class="text-green" style="height:30px">Interventions liée à ce contrat</h1>
        </div>
        <div class="col text-right">
            <a class="text-green btn ml-4" style="font-size:30px" asp-action="AddInterventionToContract" asp-route-contractId="@Model.ToList()[0].ContractId" title="Add new user"><i class="fas fa-plus-circle"></i></i></a>
        </div>
    </div>
    <hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TechnicianId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicianName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Details", "AdminDetails", new { id = item.InterventionId })
            </td>
        </tr>
        }
    </tbody>
</table>


