@model Models.DataModels.User

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NationalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NationalNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateAddress.HouseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrivateAddress.HouseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateAddress.StreetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrivateAddress.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateAddress.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrivateAddress.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateAddress.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrivateAddress.City)
        </dd>
    </dl>
    <a class="btn btn-success" asp-action="EditProfile" asp-route-id="@Model.UserId">Edit Profile</a>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
@section scripts{
    <script>
        let alertifyHandler = () => {
            let mess = '@ViewBag.message';
            console.log(mess);
            if (mess != '') {
                alertify.success(mess);
            }
            
        }

        $(document).ready(() => {
            alertifyHandler();
        })
    </script>
}
